<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>New user details</header>
    <form action="/create" method="POST">
        <table>
            <tr>
                <td>Username: </td>
                <td>
                    <input type="text" name = "username" placeholder="Enter Username">
                </td>
            </tr>

            <tr>
                <td>Password: </td>
                <td>
                    <input type="text" name="password" placeholder="Enter password">
                </td>
            </tr>

            <tr>
                <td>Email: </td>
                <td>
                    <input type="email" name="email" placeholder="Enter email">
                </td>
            </tr>
            <tr>
                <td>
                    <button type="submit">Login</button>
                </td>
            </tr>
        </table>
    </form>
</body>
</html>